<div class="row">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">SharEpiCare</a>
            </li>
          </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav">

          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <img class="img-responsive img-circle" alt="notification" style="cursor: pointer;">
            </li>
            <li>
              <img class="img-responsive img-circle" alt="profile photo" style="cursor: pointer;">
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <label for="points">User points</label>
  </div>
  <div class="col-xs-6">
    <p>Value</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <label for="loans">My loans</label>
  </div>
  <div class="col-xs-6">
    <p>Value</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <label for="items">My items</label>
  </div>
  <div class="col-xs-6">
    <button type="button">Add item</button>
  </div>
</div>
