<div class="container">
  <h1>Login To Your Account</h1>
    <div class="row">
      <ul>
        <li>
          <a routerLink="/signup" class="btn btn-link">SIGN UP</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                  <button type="button" class="btn btn-success">Login with Google</button>
                  <p>--- or ---</p>
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email"
                                   id="email"
                                   alt="email"
                                   name="email"
                                   formControlName="email"
                                   class="form-control">
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="form-group">
                            <label for="password" class="center-block">Password:
                            <input type="password"
                                   id="password"
                                   alt="password"
                                   name="password"
                                   ngModel
                                   class="form-control">
                            </label>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <button type="submit"
                              [disabled]="!f.valid">Login</button>
                    </div>
                  </div>
              <!--<button (click)="emailLogin()" *ngIf="!(user | async)?.uid">Login with Email</button>
              <button (click)="signup()" *ngIf="!(user | async)?.uid">New Member? Signup!</button>-->
            </div>
        </form>
    </div>
</div>
